<!DOCTYPE html>
<html lang="en">

<head>
  <title>Rocket's race</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../views/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



</head>

<body class="container">

  <div class="text-center" style="margin-bottom:0;">
    <h1>Exercici typescript Rockets MVC</h1>
    <p>HTML5, CSS, Bootstrap4, Javascript, typescript using MVC architecture.</p>
  </div>

  

  <div style="margin-top:30px">
    <h1> Rocket race</h1>
    <div class="row">
      <div class="col-sm-4 ">
        <div id="formCarId">

          <div class="form-group">
            <label>create rocket 1</label><br>
          </div>
          <p>
            <button class="btn btn-primary" onclick="createRocket1()">Create Rocket 1</button>
            <button id="accelerateButton1" class="btn btn-primary" onclick="rocket1.accelerate(rocket1)">Accelerate rocket1</button>
            <button id="breakButton1" class="btn btn-primary" onclick="rocket1.breakRocket(rocket1)">Break </button>
          </p>

        </div>
        <div id="rocket1Info"> </div>
        <!--end form Rocket 1-->
      </div>
      <div class="col-sm-4 ">
        <div id="formRocketId">

          <div class="form-group">
            <label>create rocket 2</label><br>
          </div>
          <p>
            <button class="btn btn-primary" onclick="createRocket2()">Create Rocket 2</button>
            <button id="accelerateButton2" class="btn btn-primary" onclick="rocket2.accelerate(rocket2)">Accelerate rocket2</button>
            <button id="breakButton2" class="btn btn-primary" onclick="rocket2.breakRocket(rocket2)">Break </button>
            <div id="rocket2Info"> </div>
          </p>

        </div>

      </div>
    </div><!-- end row-->
    <div>
      <span style=" color: Tomato;">
        <p id="rocketId1" class="fas fa-space-shuttle fa-3x d-none  " ></p>
      </span>
    </div>
    <div>
      <span style=" color:Dodgerblue;">
        <p id="rocketId2" class="fas fa-space-shuttle fa-3x d-none"></p>
      </span>
    </div>


  </div>
  <div class="w-75 ">

  </div>
  </div>
  <div id="sticky-footer" class="fixed-bottom bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
  </div>
  </div>

  <script src="../controllers/mycontroller.js"></script>
  <script src="../views/js/myview.js"></script>
  <script src="../models/thruster.js"></script>
  <script src="../models/rocket.js"></script>

</body>

</html>