/* Sticky Footer Classes */


#rocketId1 {
    
    position: relative;
    
  }


  #rocketId2 {

    position: relative;
    
  }

  .accelerate {
    
    -webkit-animation: myAccelerator 5s ; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
    animation: myAccelerator 2s ;
    animation-delay: 0ms;
    
  }

  

  @-webkit-keyframes myAccelerator {
    from {border-left:6px solid red }
    to {border-left:6px solid yellow }
  }
  
  @keyframes myAccelerator {
    from {border-left:6px solid red }
    to {border-left:6px solid yellow }
  }

  .break{
    -webkit-animation: myBreak 5s ; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
    animation: myBreak 2s ;
    animation-delay: 0ms;
  }

  @-webkit-keyframes myBreak {
    from {border-left:6px solid black }
    to {border-left:6px solid lime }
  }
  
  @keyframes myBreak {
    from {border-left:6px solid black }
    to {border-left:6px solid lime }
  }